@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: "ubuntu",serif;
    font-style: normal
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
 .container{
    min-height: 50vh;
    background-color: rgb(13, 13, 13);
    color: whitesmoke;
    display: flex;
    margin: 28px auto;
    width: 80%;
    border-radius: 10px;
    padding: 3px;
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    font-family: "Ubuntu", serif;
    font-size: 10px;
    justify-content: end;
 }







.bottom{
    display: flex;
    background-color: black;
    position: sticky;
    height: 80px;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    flex-direction: column;
}


#myProgressBar{
    width:80vw;

}

.icons{
  margin-top: 10px;
  cursor: pointer;
}

.songItem{
    height: 30px;
    display: flex;
    background-color: white;
    font-size: 12px;
    font-weight: bolder;
    color: black;
    margin: 30px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    padding: 0 12px;
}
    
.songItem img{
    width: 30px;
    margin-right: 20px;
    border-radius: 50%;
    height: 25px;
}

.timestamp{
     margin: 0 23px ;
     font-size: 16px;
     padding: 0;
     color: black;
     align-self: center;
    } 

.timestamp i{
    cursor: pointer;
    margin-right: 10px;
    
}


.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }


 




